@font-face {
  font-family: 'Pokemon';
  src: local('Pokemon'), url(./fonts/pokemondppt.ttf) format('truetype');
}

h1, h2 {
  font-family: "Pokemon";
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 50px;
}

.Pokeball{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#band {
  position: absolute;
  top: 0px;
  left: 0px;
}

#startButton {
  position: absolute;
  top: 138.5px;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}